@import "vars";

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	.section {
		&-main {
			background-position: top left, 400px center;
		}
		&-how {
			&-content {
				& > img {
					margin-bottom: 20px;
					float: left;
	
					&:nth-child(1) {
						margin-right: 60px;
					}
					
					&:nth-child(2), &:nth-child(3) {
						margin-right: 40px;
					}
	
					&:nth-child(5) {
						margin-right: 60px;
					}
				}
			}
		}

		&-order {
			.order p {
				max-width: 250px;
			}
		}
	}
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	.page-wrapper {
		padding-top: 114px;
	}

	.header {
		height: 114px;
	}

	.main-menu {
		background-color: #fff;
		background-image: none;
		position: absolute;
		top: 114px;
		left: 0;
		right: 0;
		text-align: left;
		z-index: 98;
		display: none;

		ul {
			display: block;
			height: auto;
			padding: 15px 0;

			a {
				color: $default_text_color;
				&:hover, &.active {
					color: $accent_dark;
				}
			}
		}
	}

	.section {		

		&-how {
			&-content {
				& > img {
						margin-right: 30px !important;
				}
			}
		}

		&-video-call {

			&-content {
				background-image: none;
			}

			.rect {
				justify-content: center;
				width: 100%;
			}
			
			video {
				margin: 0 0 10px;
			}

			.video {
				&-content {
					display: block;
					margin-left: 0;
				}

				&-title {
					margin-bottom: 0;
				}
			}
		}

		&-order {
			.order{
				p {
					max-width: 200px;
				}

				&-3 {
					left: 10px;
					&:before {
						margin-top: -6px;
					}
				}

				&-4 {
					right: 10px;
				}

				&-5 {
					left: 10px;
				}


			} 
		}
	}

	.footer {
		&-subscribe {
			display: block;
		}
	}

}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.button {
		min-width: auto;
	}

	.card {
		padding: 15px;
		margin: 0 auto !important;

		&:before, &:after {
			display: none;
		}
	}

	.owl-carousel {
		padding: 0 30px;
	}

	.section {
		&-main {
			&-footer {
				display: block;
				br {
					display: none;
				}
			}
		}

		&-video-call {
			
			.rect {
				padding: 0 10px;
			}

			.video {
				&-title {
					font-size: 22px;
				}

				&-fio {
					font-size: 18px;
				}
			}
		}

		&-order {
			.lines {
				display: none;
			}

			.order {
				position: static;
				padding: 0;
				margin-bottom: 20px;
			}
		}
	}

	.footer {
		&-contacts {
			margin-top: 20px;
		}
	}

}
	/**/

@media only screen and (max-width : 600px) {
	.col-xss-12 {
		width: 100%;
	}
}		

@media only screen and (max-width : 500px) {
	.section {
		&-title {
			span {
				&:before, &:after {
					display: none;
				}
			}
		}

		&-about {
			&-content {
				display: block;
			}
		}
	}
}	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
	}

	.hidden-xss {
		display: none !important;
	}

	.mobtel{
        display: block;
	}
	
    .whatsapp{
        display: block;
    }

	.modal {
		&-content {
			padding: 15px;			
		}
	}

	.button {
		padding: 0 15px;
		&:before, &:after {
			display: none;
		}
	}

	.card {
		padding: 0;
		box-shadow: none;

		&-image {
			display: none;
		}
	}

	.section {
		&-modal {
			.section-image {
				display: none;
			}
		}
	}

	.footer {
		padding-bottom: 83px;
	}

}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
	/**/

