@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $default_text_color;
	line-height: $default_line_height;
	font-size: $default_font_size;
	font-family: $default-font;
	font-style: normal;
	overflow-x: auto;
	opacity: 1;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222;
	z-index: 100;
	display: none;

	.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -38px;
		margin-left: -38px;
		color: #ffffff;
	}
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.bold {
	font-weight: bold;
}

.accent	{
	color: $accent;
}

.logo {
	display: flex;
	align-items: center;

	&-img2 {
		margin-left: -58px;
	}

	&-text {
		font-size: 13px;
		margin-left: 15px;
		color: $accent;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 149px;
	z-index: 97;
	background-color: #fff;

	&-content {
		display: flex;
		align-items: center;
		padding: 15px 0;
	}

	&-phones {
		white-space: nowrap;
		flex-grow: 1;
		text-align: right;
	}
	
	&-phone {
		font-family: FuturaPT;
		font-weight: 500;
		font-size: 22px;
		margin-bottom: 5px;
	}

	.hamburger {
		// display: none;
		margin-left: 20px;
	}

	&-languages {
		margin-left: 30px;
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		a {
			font-size: 12px;
			&.active {
				font-weight: bold;
			}
		}
	}

}

.main-menu {
	background-image: url('../img/header-ornament.jpg');
	background-repeat: repeat-x;
	background-position: top center;
	background-color: $accent;
	text-align: center;

	ul {
		display: flex;
		height: 35px;
		justify-content: space-between;
		align-items: center;
	}	

	li {
		margin-bottom: 0;
	}

	a {
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		
		&:hover, &.active {
			color: $default_text_color;
		}
	}
}

.page-wrapper {
	padding-top: 149px;
	overflow: hidden;
}

.section {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;		
	background-size: cover;
	padding: 60px 0 60px 0;
	z-index: 1;

	&.gray {
		background-color: #fdf8f1;
	}

	&.wooden {
		background-image: url('../img/wooden-back.jpg');
	}

	&-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center center;		

		.section-right & {
			transform: rotateY(180deg);
		}
	}

	&-modal {
		padding: 80px 0;		

		&.section-right {
			.card {
				margin: 0 0 0 auto;
			}
		}
	}

	&-title {
		font-family: FuturaPT;
		font-weight: 800;
		color: $accent;
		margin-bottom: 90px;
		font-size: 26px;
		z-index: auto;
		text-align: center;
		height: 33px;
		line-height: 33px;

		span {
			position: relative;
			padding: 0 15px;
			display: inline-block;
			

			&:before, &:after {
				position: absolute;
				content: '';
				background-image: url('../img/title-ornament.png');
				background-repeat: repeat-x;
				top: 0;
				bottom: 0;
				background-position: left center;

				.inverse & {
					background-image: url('../img/title-ornament-white.png');					
				}
			}

			&:before {
				left: -3000px;
				right: 100%;
				transform: rotateY(180deg);
			}

			&:after {
				right: -3000px;
				left: 100%;
			}
		}

		&.inverse span {
			&:before, &:after {
				background-image: url('../img/title-ornament-white.png');					
			}
		}

		.breadcrumb & {
			text-align: left;
			font-family: OpenSans;
			color: $default_text_color;
			font-size: 14px;
			font-weight: normal;

			a:last-child {
				text-decoration: underline;
			}
		}
	}

	&-main {
		background-image: url('../img/main-ornament.png'), url('../img/main-back.png');
		background-position: top left, right center;
		background-size: auto, auto 100%;
		padding-bottom: 30px;

		&-title {
			font-family: FuturaPT;
			font-size: 36px;
			font-weight: 800;
			max-width: 650px;
			margin-bottom: 15px;
		}

		&-subtitle {
			font-size: 18px;
			font-weight: 600;
			color: $accent;
			margin-bottom: 55px;
		}

		.form {
			max-width: 350px;
			
			&-title {
				font-size: 22px;
				font-weight: 600;
			}

			&-subtitle {
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 20px;
			}

			&-row {
				display: flex;
				margin-bottom: 25px;

				& > .input:first-child {
					margin-right: 10px;
				}
			}

			.button {
				margin-bottom: 60px;
			}
		}

		&-footer {
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
			display: flex;

			&-item {
				margin-right: 40px;

				&:last-child {
					margin-right: 0;				
				}

				&:nth-child(3) {
					flex-grow: 1;
				}
			}
		}
	}

	&-video-call {
		&-content {
			padding: 30px 0;
			background-image: url('../img/video-call-ornament-1.png');
			background-position: left center;
			background-repeat: no-repeat;
		}

		.rect {
			margin: 0 0 0 auto;
			border: 6px solid $accent;
			width: 670px;
			height: 380px;
			display: flex;
			align-items: center;

			background-image: url('../img/video-call-ornament-2.png');
			background-position: bottom right;
			background-repeat: no-repeat;			
		}

		video {
			width: 408px;
			margin-right: 60px;
		}

		.video {
			&-content {
				display: flex;
				align-items: center;
				text-align: center;
				font-family: FuturaPT;
				margin-left: -200px;
			}

			&-title {
				font-weight: 800;
				font-size: 26px;
				margin-bottom: 10px;
			}

			&-fio {
				font-weight: 500;
				font-size: 22px;
				color: $accent;
			}
		}
	}

	&-reason {
		&-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.reason {
			width: 220px;
			text-align: center;
			margin: 0 10px 50px;
		}

		.item-circle {
			margin: 0 auto 20px;
		}
	}

	&-instruments {
		text-align: center;

		
	}

	&-how {
		&-content {
			// display: flex;
			// justify-content: space-between;
			// align-items: flex-start;
			// flex-wrap: wrap;

			& > img {
				margin-bottom: 20px;
				float: left;

				&:nth-child(1) {
					margin-right: 60px;
				}
				
				&:nth-child(2), &:nth-child(3) {
					margin-right: 40px;
				}

				&:nth-child(5) {
					margin-right: 60px;
				}
			}

			& > div {
				// margin-left: 60px;
				// flex-grow: 1;
				// display: flex;
				// flex-direction: column;
				// justify-content: space-between;

				& > div {
					// display: flex;
					// justify-content: space-between;
					// flex-wrap: wrap;
					// margin-top: 30px;					
					// margin-bottom: 30px;

					&:first-child {
						
					}
				}
			}

			img {
				margin-bottom: 20px;
			}
		}
	}

	&-request {
		.card {
			margin-left: 100px;
		}

		&.section-right {
			.card {
				margin-right: 100px;
			}
		}
	}

	&-question {
		.question {
			padding-top: 20px;
			margin-bottom: 30px;
			background-image: url('../img/question-ornament.png');
			background-repeat: no-repeat;
			background-position: 0 0;

			&-title {
				font-family: FuturaPT;
				font-weight: 600;
				color: $accent;
				font-size: 20px;
				margin-bottom: 20px;
			}
		}
	}

	&-about {
		&-content {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& > div {
				margin-bottom: 30px;
			}
		}

		.accent {
			font-family: FuturaPT;
			font-size: 20px;
			font-weight: 600;
			
			.big {
				font-size: 72px;
				font-weight: bold;
			}	
		}

	}

	&-order {

		&-content {
			position: relative;

		}

		.order {
			position: absolute;
			display: flex;
			align-items: center;
			padding: 0 20px;
			z-index: 1;

			&:before {
				position: absolute;
				content: '';
				top: 50%;
				left: 0;
				right: 0;
				height: 2px;
				background-color: #ece5de;
				z-index: -1;
			}

			p {
				max-width: 400px;
				margin: 0 0 0 30px;
			}

			&-1 {
				top: -30px;
				left: 0;
				padding-left: 0;
			}

			&-2 {
				top: -30px;
				right: 30px;
			}

			&-3 {
				top: 88px;
				left: 30px;
			}

			&-4 {
				top: 88px;
				right: 30px;
			}

			&-5 {
				top: 206px;
				left: 150px;
			}

			&-6 {
				top: 206px;
				right: 0px;
			}
		}

		.lines {
			border: 2px solid $accent_dark;
			height: 120px;

			&-1 {
				border-left: none;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				margin-left: 10px;

			}

			&-2 {
				margin-top: -2px;
				border-right: none;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				margin-right: 10px;
			}
		}
	}

	&-product {
		&-title {
			text-align: center;
			margin: 50px 0 40px;
		}

		&-video {
			display: block;
			width: 640px;
			margin: 0 auto;
		}

		.alone {
			margin: 0 auto 20px;
		}

		.card {
			max-width: 100%;
			margin-bottom: 30px;
			box-shadow: none;
			border: 1px solid $accent-dark;
		}

		.carousel-product {
			margin-bottom: 20px;

			&-prev, &-next {
				position: absolute;
				color: $accent;
				font-size: 40px;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
			}

			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
			}

			&-thumbs {
				text-align: center;
				margin-bottom: 50px;

				div {
					outline: 0;
				}

				img {
					width: auto !important;
				}

				.slick-list {
					margin: 0 40px;
				}
			}
		}
	}

	&-info {
		&-title {
			
		}

		&-list {
			list-style: none;
			padding: 0;
			margin: 0 0 30px;
			li {
				&:before {
					content: "•";
					margin-right: 10px;
					color: $accent;
				}
			}

		}
	}
}

.footer {
	background-image: url('../img/header-ornament.jpg');
	padding: 30px 0;

	&-logo {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		img {
			width: 97px;
		}

		.logo-text {
			color: #fff;
		}
	}

	&-contacts {
		display: flex;
		margin-bottom: 20px;
	}

	&-socials {
		a {
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			background-color: $default_text_color;
			color: $accent;
			font-size: 20px;

		}
	}

	&-phones {
		flex-grow: 1;
		text-align: right;
		p {
			font-family: FuturaPT;
			font-size: 22px;
			font-weight: 500;
			margin-bottom: 0px;
		}

		a {
			font-family: FuturaPT;
			font-size: 15px;
			text-decoration: underline;

			&:hover {
				color: #000;
			}
		}
	}

	&-subscribe {
		display: flex;
		justify-content: space-between;
	}

	&-input {
		display: flex;
		width: 265px;

		.input {
			width: 220px;
			text-align: center;
			background-color: #fff;
		}

		.fa {
			background-color: $default_text_color;
			color: #ffffff;
			width: 45px;
			height: 45px;
			text-align: center;
			line-height: 45px;
		}
	}
}


@import "media"; // Всегда в конце
